<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros Web</title>
</head>
<body>
    <table>
        <tr>
            <td><h3>id</h3></td><td>{{libro.id}}</td>
        </tr>
        <tr>
            <td><h3>Portada</h3></td> <td><img src="{{libro.image.url}}" width="150"></td>
        </tr>
        <tr>
            <td><h3>Titulo</h3></td> <td>{{libro.title}}</td>
        </tr>
        <tr>
            <td><h3>Titulo</h3></td> <td>{{libro.author}}</td>
        </tr>
        <tr>
            <td><h3>ID Categoria</h3></td> <td>{{libro.catedory_id}}</td>
        </tr>
        <tr>
            <td><h3>Categoria</h3></td> <td>{{libro.category}}</td>
        </tr>

    </table>
    <ul>
        <li><a href="/"> Inicio</a></li>
        <li><a href="/autor"> Busqueda por autor</a></li>
        <li><a href="/letra"> Busqueda por letra</a></li>
    </ul>
</body>
</html>